<h1>Simulasi Gadai</h1>

<form class="form-horizontal">
	<div class="form-group">
      <label for="beratKotor" class="col-sm-2 control-label">Berat Kotor</label>
      <div class="col-sm-6">
        <input type="text"
			name="beratKotor" [(ngModel)]="pengajuan.beratKotor"
		class="form-control" id="beratKotor" placeholder="Berat Kotor dalam gram">
      </div>
    </div>
	<div class="form-group">
      <label for="beratBersih" class="col-sm-2 control-label">Berat Kotor</label>
      <div class="col-sm-6">
        <input type="text"
			name="beratBersih" [(ngModel)]="pengajuan.beratBersih"
		class="form-control" id="beratBersih" placeholder="Berat Bersih dalam gram">
      </div>
    </div>
	<div class="form-group">
      <label for="beratBersih" class="col-sm-2 control-label">Karatase</label>
<div class="col-sm-6">
	<select class="form-control" name="karatase" [(ngModel)]="pengajuan.karatase">
		<option *ngFor="let k of pilihanKaratase" [value]="k.value">{{k.label}}</option>
	</select>
  </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button (click)="lanjutkanPengajuan()" class="btn btn-default">Lanjutkan</button>
    </div>
  </div>
</form>

<hr>

<pengajuan-gadai *ngIf="pengajuan.nilai"
	[pengajuan]="pengajuan"
	[fileUploader]="objFileUploader"
	(pengajuanEmitter)="tambahkanPengajuanKeTabel($event)"
	>
</pengajuan-gadai>


<hr>

<h2>Daftar Pengajuan</h2>

<div *ngIf="daftarPengajuan.length < 1">
	Belum ada data pengajuan
</div>

<div *ngIf="daftarPengajuan.length > 0">
<table class="table table-bordered table-hovered table-striped">
	<thead>
		<tr>
			<th>No</th>
			<th>Berat Kotor</th>
			<th>Berat Bersih</th>
			<th>Karatase</th>
			<th>Foto</th>
			<th>Nilai</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let p of daftarPengajuan; let i = index">
			<td>{{i + 1}}</td>
			<td>{{p.beratKotor}}</td>
			<td>{{p.beratBersih}}</td>
			<td>{{p.karatase}} karat</td>
			<td>{{ objFileUploader.queue[i]?.file?.name }} ({{objFileUploader.queue[i]?.file?.size}})</td>
			<td>{{p.nilai}}</td>
			<td>
				<button class="btn btn-sm btn-default">hapus</button>
			</td>
		</tr>

		<tr>
			<td colspan="5"><b>Total</b></td>
			<td>Rp. {{totalNilai}}</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<form class="form-horizontal">
	<div class="form-group">
      <label for="beratBersih" class="col-sm-2 control-label">Cabang</label>
<div class="col-sm-6">
	<select class="form-control">
		<option *ngFor="let k of pilihanCabang" [value]="k.id">{{k.nama}}</option>
	</select>
  </div>
  </div>
	<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button (click)="lanjutkanPengajuan()" class="btn btn-default">Ajukan Gadai</button>
      </div>
    </div>
</form>
</div>
