<navigation-bar></navigation-bar>

<!-- Begin page content -->
<div class="container">

	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Analytics</a></li>
				<li><a href="#">Export</a></li>
			</ul>
		</div>

		<div class="page-header col-md-10">
			<router-outlet></router-outlet>
		</div>

	</div>
</div>

<footer-aplikasi></footer-aplikasi>
